
/* tema */

:root {

    --cor-texto : #d1d1d1;
    --cor-titulo : white;
    --cor-fundo : #731c34; 
    --cor-fundo-vis : #643b45;
    --cor-fundo-seletor: #a8596f;
    --cor-rect : #ccccc4;

    --tamanho: 1.2rem;

    --fonte-titulo: "Ovo"; /*"Yatra One"*/
    --fonte-corpo: "Signika";

    --width : 620px;

}



* {
    box-sizing: border-box;
}

div.intro {

    max-width: 620px;
    margin: 0 auto;
    padding: 0 1rem;

    font-family: var(--fonte-titulo);
    color: var(--cor-titulo);
    font-size: var(--tamanho);


}

div.inner-container p {
    color: var(--cor-texto);
    font-family: var(--fonte-corpo);
    font-weight: 100;
}

div.vis {

    height: 100vh;
    width: 100%; /* eventualmente limitar para o caso de telas muito grandes*/
    background-color: var(--cor-fundo-seletor);

}

div.vis > div.selector {

    max-width: var(--width);
    margin: 0 auto;
    padding-left: 1rem;

}

div.vis p {
   
    margin: 0;
    padding: 1rem;

}

div.vis > div.selector > p {
    padding: 0;
    display: inline;
}

div.vis > div.selector > div.buttons {

    display: inline-flex;
    justify-content: space-between;
    padding: .5rem 0;

}

.buttons button {

    background-color: transparent;
    border: 2px solid var(--cor-texto);
    padding: .5rem .5rem;
    border-radius: 10rem;
    margin-left: 1rem;
    width: 100px;
    font-family: var(--fonte-corpo);
    font-weight: 100;
    font-size: 1rem;
    color: var(--cor-texto);

}

.buttons button:hover, .buttons button.selected {

    background-color: var(--cor-texto);
    color: var(--cor-fundo);

}

.buttons button.selected {

    font-weight: bold;
    border: 2px solid var(--cor-fundo);

}

/* fix later */
.buttons button:focus {

    outline : none;

}


div.outer-container-svg {

    background-color: var(--cor-fundo-vis);

}

div.container-svg {

    max-width: var(--width);
    margin: 0 auto;
    position: relative;

}

.container-svg svg {

    width: 100%;
    /* height determinado pelo JS */
    /*outline: 1px solid red;*/

}


body {

    background-color: var(--cor-fundo);
    margin: 0;


}

/*vis*/

svg rect {

    /*fill: var(--cor-rect);*/

}

.container-svg p.main-label {

    position: absolute;
    transform: translateY(-100%);
    padding: 0;
    padding-bottom: 5px;

}