
/* tema */

:root {

    --cor-texto : #d1d1d1;
    --cor-titulo : white;
    --cor-fundo : #643b45;

    --tamanho: 1.2rem;

    --fonte-titulo: "Ovo"; /*"Yatra One"*/
    --fonte-corpo: "Signika";

}



* {
    box-sizing: border-box;
}

div.inner-container {

    max-width: 620px;
    margin: 0 auto;

    font-family: var(--fonte-titulo);
    color: var(--cor-titulo);
    font-size: var(--tamanho);


}

div.inner-container p {
    color: var(--cor-texto);
    font-family: var(--fonte-corpo);
    font-weight: 100;
}

body {

    background-color: var(--cor-fundo);


}